<div class="row">
  <div class="col s6 offset-s3">

    <ul class="collection">
      <li class="collection-item" ng-repeat="route in routes">
        <span>{{::route.path}}</span>

        <div>
          <span ng-show="route.combination && !route.isEditing">{{route.combination}}</span>
          <span ng-show="route.isEditing">Press Combination... and wait few seconds...</span>
        </div>
        <div ng-click="setEditing($event, route)" ng-show="!route.isEditing">Edit Combination</div>
      </li>
    </ul>

  </div>
</div>
